/* Simple CSS codes */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.h1 {
    text-align: center;
    color: rgb(119, 0, 255);
    font-size: 3.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
    color: rgb(255, 0, 85);
    text-decoration: 2px underline double rgb(255, 0, 85);
}

.shrishti-main-img {
    width: 15rem;
    border-radius: 100%;
    box-shadow: 0px 0px 29px -11px rgb(255, 0, 85);
}

body {
    background-color: rgb(255, 227, 227);
    padding: 5rem 2rem;
}

.love-letter {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 0, 85);
    width: 80rem;
    margin: 4rem auto;
    word-spacing: .5rem;
    font-size: 2.2rem;
    text-transform: capitalize;
    line-height: 3.8rem;
}

.main-img {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
    align-items: center;
}

.shrishti-image {
    width: 25rem;
    border-radius: .5rem;
}

.gallery,
.reels {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.margin-center {
    margin: 0 3rem;
}

.div-img {
    background-color: rgba(255, 0, 85, 0.13);
    box-shadow: 6px 9px 18px -5px gray;
    border-radius: 7px;
    width: 27.5rem;
    height: 40.5rem;
    display: grid;
    place-items: center;
}

h2 {
    text-align: center;
    text-decoration: 2px underline double rgb(255, 0, 85);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5rem;
    color: rgb(119, 0, 255);
    letter-spacing: .4rem;
    font-size: 3.8rem;
}

.heart-img {
    width: 4rem;
    height: 4rem;
}
.img2 {
    background-color: rgba(255, 0, 85, 0.13);
    box-shadow: 6px 9px 18px -5px gray;
    border-radius: 7px;
    width: 258px;
    height: 405px;
    display: flex;
    justify-content: center;
    align-items: center;
}

video{
    width: 220px;
border-radius: 5px;
}

/* Responsive codes */

@media (max-width: 500px) {
    html {
        font-size: 50%;
    }

    body{
        padding: 5rem 4rem;
        padding-bottom: 1rem;
    }

    .love-letter {
        width: 100%;
    }

    .h1 {
        font-size: 2.8rem;
    }

    .img-margin-center {
        margin-top: 3.5rem;
        margin-bottom: 2.9rem;
    }

    h2 {
        font-size: 3.5rem;
    }
}

.line{
    background-color: rgb(255, 0, 85);
    height: 1px;
    width: 95vw;
}
.line2{
    background-color: rgb(255, 0, 85);
    height: 1.4px;
    margin-top: 4px;
    width: 95vw;
}

.foot-p{
    color: rgb(255, 0, 85);
    font-size: 20px;
    font-family: monospace;
    margin: 10px 0;
    margin-left: 30px;
}

#logo{
    margin-top: 20px;
}

.div{
    display: grid;
    place-items: center;
}